html,
body {
    height: 100%;
    background-image: url("img/balloon-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background:linear-gradient(rgba(255,204,204,0.4),rgba(0,0,0,0.5)),url("img/balloon-1.jpg");*/
}

.navbar-default {
    background-color: #ff6666;
    border-color: #E7E7E7;
    text-align: center;
    font-size: 35px;
    overflow: hidden;
    color: #ff6666;
    text-shadow: 2px 2px #c0666d;
}

h1 {
    text-align: center;
    color: #ff6666;
    text-shadow: 3px 2px #c0666d;
    font-family: 'Poiret One', cursive;
    
}
h2{
    color:#4545b0;
    font-family: 'Poiret One', cursive;
}

#logo2 {
    color: #005682;
    text-align: center;
    text-shadow: 3px 4px #c0666d;
    font-family: 'Poiret One', cursive;
}

.width {
    width: 100%;
    text-shadow: 2px 2px #3399ff;
    
}

.height {
    height: 100%;
}


/*.vert-center {*/
/*    display: table-cell;*/
/*    vertical-align: middle;*/
/*}*/

/*.section {*/
/*    padding: 60px 0;*/
/*    background: linear-gradient( rgba(255, 204, 204, 0.4), rgba(0, 0, 0, 0.5)), url("img/balloon-3.jpg") no-repeat center;*/
/*    background-size: cover;*/
/*    display: table;*/
/*}*/

/*.myCarousel {*/
/*    alignment-baseline: middle;*/
/*}*/

/*.descrip{*/
/*    color:#FFFFFF;*/
/*    font-size:32px;*/
/*    font-family: 'Poiret One', cursive;*/
/*}*/
/*.info{*/
/*    font-size: 32px;*/
/*    color: #FFFFFF;*/
/*    font-family: 'Poiret One', cursive;*/
   
/*}*/
/*.descripC{*/
/*    font-size:32px;*/
/*    color:#FFFFFF;*/
/*    font-family: 'Poiret One', cursive;*/
/*}*/
/*.descripC2{*/
/*    font-size:32px;*/
/*    color :#FFFFFF;*/
/*    font-family: 'Poiret One', cursive;*/
/*}*/
/*.descrip3{*/
/*    font-size:32px;*/
/*    color :#FFFFFF;*/
/*    font-family: 'Poiret One', cursive;*/
/*}*/
/*=======*/
#fun{
    font-size:40px;
    color:#ccffff;
    text-shadow: 2px 3px 9px;
}

#T-info{
    font-size:30px;
    color:#00ffff;
      text-shadow: 2px 3px 9px;
}

#All-info{
    font-size:20px;
     color:#00ffff;
      text-shadow: 2px 3px 9px;
}

.reviews{
    font-size:25px;
    color:#ffbf80;
      text-shadow: 2px 3px 9px;
}

#reach-us{
    font-size:35px;
    color:#00ff99;
      text-shadow: 2px 3px 9px;
}

