
body{
    background-image: url("img/balloon-.jpg");
}
 h1,h2{
     text-align: center;
     color:#ff6666;
 }
 /*.p{*/
     
 /*}*/

 
li a.active{
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
 background-color: rgb(63,87,126);
}
li a:hover{
    background-color:#ccccff;
}
 a.active {
    background-color: #4CAF50;
    color: white;
}
 li{
     float:right;
 }

