body {
    background-image: url("img/balloon-1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    color: #ff6666;
    text-shadow: 2px 2px #c0666d;
}


h2 {
    color: #005682;
    text-align: center;
    text-shadow: 2px 2px #3399ff;
}


#home{
      
}