html,
body {
    height: 100%;
    background-image: url("img/balloon-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background:linear-gradient(rgba(255,204,204,0.4),rgba(0,0,0,0.5)),url("img/balloon-1.jpg");*/
}

.navbar-default {
    background-color: #ff6666;
    border-color: #E7E7E7;
    text-align: center;
    font-size: 35px;
    overflow: hidden;
    color: #ff6666;
    text-shadow: 2px 2px #c0666d;
}

h1 {
    text-align: center;
    color: #ff6666;
    text-shadow: 2px 3px #c0666d;
    font-family: 'Poiret One', cursive;
    
}
h2{
    color:#4545b0;
    font-family: 'Poiret One', cursive;
    
}

#logo2 {
    
    text-align: center;
    text-shadow: 2px 4px #c0666d;
    font-family: 'Poiret One', cursive;
     color:#eed5d2;
}

.width {
    width: 100%;
    text-shadow: 2px 2px #3399ff;
    
}

.height {
    height: 100%;
}

#fun{
    font-size:40px;
    color:#FFFFFF;
    text-shadow: 2px 3px 9px;
    font-family:'Poiret One',cursive
}

#T-info{
    font-size:40px;
    color:#b3d4fc;
      text-shadow: 2px 3px 9px;
      font-family:'Poiret One',cursive
}

#All-info{
    font-size:20px;
    color:#c47edd;
    font-weight: 900;
      text-shadow: 8px 9px 9px;
      font-family:'Poiret One',cursive
}

.reviews{
    font-size:25px;
    color:#ffbf80;
      text-shadow: 2px 3px 9px;
      font-family:'Poiret One',cursive
}

#reach-us{
    font-size:35px;
    color:#d2b48c;
      text-shadow: 2px 3px 9px;
      font-family:'Poiret One',cursive
}

