body {
   background-image: url("img/balloon-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background:linear-gradient(rgba(255,204,204,0.4),rgba(0,0,0,0.5)),url("img/balloon-1.jpg");*/
}

#logo{
    text-align: center;
    color: #ff6666;
    text-shadow: 2px 2px #c0666d;
}


#logo2{
    color: #005682;
    text-align: center;
    text-shadow: 2px 2px #3399ff;
 }

#fun{
    font-size:40px;
    color:#ccffff;
    text-shadow: 2px 3px 9px;
}

#T-info{
    font-size:30px;
    color:#00ffff;
      text-shadow: 2px 3px 9px;
}

#All-info{
    font-size:20px;
     color:#00ffff;
      text-shadow: 2px 3px 9px;
}

.reviews{
    font-size:25px;
    color:#ffbf80;
      text-shadow: 2px 3px 9px;
}

#reach-us{
    font-size:35px;
    color:#33ccff;
      text-shadow: 2px 3px 9px;
}

