
body {
    height: 100%;
    background-image: url("img/balloon-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}



h1 {
    text-align: center;
    color: #ff6666;
    text-shadow: 2px 3px #c0666;
    font-family: 'Poiret One', cursive;
    
}
h2{
    color:#4545b0;
    font-family: 'Poiret One', cursive;
    
}

#logo2 {
    
    text-align: center;
    text-shadow: 2px 4px #0066ff;
    font-family: 'Poiret One', cursive;
     color:#3399ff; 
}

.width {
    width: 100%;
    text-shadow: 2px 2px #3399ff;
    
}

.height {
    height: 100%;
}

#fun{
    font-size:40px;
    color:#FFFFFF;
    text-shadow: 2px 3px 9px;
    font-family:'Poiret One',cursive
}

#T-info{
    font-size:40px;
    color:#00ccff;
      text-shadow: 2px 2px 3px;
      font-family:'Poiret One',cursive
}

#All-info{
    font-size:20px;
    color:#66ffff;
    
      
     
}

.reviews{
    font-size:25px;
    color:#ffbf80;
      text-shadow: 2px 3px 9px;
      font-family:'Poiret One',cursive
}

#reach-us{
    font-size:35px;
    color:#d2b48c;
      text-shadow: 2px 3px 9px;
      font-family:'Poiret One',cursive
}
h3{
     font-size: 45px;
     text-shadow: 2px 3px 9px;
     font-family: 'Poiret One',cursive
     
    
}
#section1 {
   
  background-color:#eed5d2;
}

