html,
body {
    height: 100%;
    /*background-image: url("img/balloon-3.jpg");*/
    /*background-repeat: no-repeat;*/
    background-size: cover;
}


.navbar-default {
    background-color: #ff6666;
    border-color: #E7E7E7;
    text-align: center;
    font-size: 35px;
    
    overflow: hidden;
   
}


h1{

    text-align: center;
    color: #ff6666;
    text-shadow: 3px 2px #c0666d;
}


h2 {
    color: #005682;
    text-align: center;

     text-shadow: 3px 2px #c0666d;
}

.width {
    width: 100%;

    text-shadow: 2px 2px #3399ff;

}

.height {
    height: 100%;
}


.vert-center {
    display: table-cell;
    vertical-align: middle;
}

.section {
    padding: 60px 0;

.pics{
    width:100%;
    height:100%;
}

body {
    background: linear-gradient( rgba(255, 204, 204, 0.4), rgba(0, 0, 0, 0.5)), url("img/balloon-3.jpg") no-repeat center;
    background-size: cover;
    display: table;
}

.myCarousel{
    alignment-baseline:middle;
}
